<%provide(:title, 'About Us')%>

    <h1>About Yongjian</h1>
    <h2>
		 <%= link_to image_tag("yongjian_profile.jpg", size: "150x158", alt: "Yongjian", style: "float:center"), 'http://www.facebook.com/yongjian.si/' %> </h2>
  <h2>    Yongjian Si is an undergraduate student at <%=link_to "Stanford University", 	'http://www.stanford.edu/' %></h2>
	  
      <h2>majoring in  <%=link_to "Symbolic Systems",'http://symsys.stanford.edu'%></h2>
	  <h2>Learn more about <%= link_to "Yongjian",    about_path %></h2>
 
    </h2>
